@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400&display=swap');

body {
  margin: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #FFF8E0;
  color: #444444;
  background-image: url("../assets/background.svg");
  background-repeat: repeat;
}

html {
  scroll-behavior: smooth;
}

/* スライドバー消したい */
::-webkit-scrollbar {
  display: none;
}

/* canvasの背景を格子状にしたい */
canvas {
  background-size: 16px 16px;
  background-position: 50% 50%;
  background-image:repeating-linear-gradient( 90deg, rgba(0,0,0,.5) , rgba(0,0,0,.5) 1px, transparent 1px, transparent 16px),repeating-linear-gradient( 0deg, rgba(0,0,0,.5) , rgba(0,0,0,.5) 1px, #fff 1px, #fff 16px);
}